{% extends "layout.html" %}

{% block content %}
<div class="tip-bubble" style="margin-top: 90px;">
    <i class="info circle icon" style="margin-right: 20px;"></i>
    <p>Please enter your email address below and explanation of error in detail, thank you!</p>
</div>
<form class="ui form" style="margin-top: 20px;">
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Enter Email Address">
    </div>
    <div class="field">
        <label>Issue</label>
        <textarea></textarea>
      </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
  <style>
    .tip-bubble{
     display: flex;
     align-items: center;
     
     padding: 15px 15px;
     line-height: 22px;
     background-color: rgb(81,164,251);
     color: rgb(249,250,251);
     border-radius: 10px;
     font-size: 20px;
     width: 100%;
    }
  
  </style>
{% endblock %}