{% extends "layout.html" %}

{% block content %}
<h1 style="margin-top: 90px;">Disclaimer</h1>
<p style="font-size: 25px;">All information present on this site that is related to the trading of securities is purely for educational puposes and does not reflect investment advice in any way.
Never consider the information on quant synergy as being 100% accurate. If using the information provided here , utilize it as part of a wider investment strategy that includes fundamental analysis, some technical analysis and quantitative analysis tools if 
needed. </p>
{% endblock %}