{% extends "layout.html" %}

{% block content %}
  <div>
    <div class="ui vertical stripe segment" style="margin-top: 90px;">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h2 class="ui header">We Track Sentiment Across Multiple Platforms</h2>
            <p style="font-size: 20px;">Here at Quant Strategy we believe now more than ever it is essential to monitor sentiment of retail traders across the Internet from reddit to twitter as well as from traditional sources.</p>
          </div>
          <div class="six wide right floated column">
            <img src="https://lh3.googleusercontent.com/MBlf5DewKuJZ6DJTHNl7ctOqg0GSreGjuF1jtjro336jf37JiB8BHZAcSVP4n9FM5-VtNTAf6GUDhe37-JlV1t5BVcdKCpWqedBRt-OydsbmnvLP0bbAR_czhyfl68GpYtDZzoAm=w600-h315-p-k" class="ui large bordered image">
          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            <a class="ui huge button">Check Out More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui vertical stripe segment" style="margin-top: 20px;">
        <div class="ui text container">
          <h2 class="ui header">Quant Tools And Free Strategies At Your Fingertips</h2>
          <p style="font-size: 20px;">We believe in providing institutional grade instruments to every type of investor. Using our tools you can improve your knowledge and make better, more informed investment decisions.</p>
          <a class="ui large button">Take Me There</a>
        </div>
    </div>
      <div class="ui vertical stripe segment" style="margin-top: 90px;">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="six wide left floated column">
                <img src="https://lh3.googleusercontent.com/fyDLE2CFtOFGVKXlDdNmj0UeSIXb-C7VetAxY3bj5qQv36NsNnldl4Ty9IuluDCpjUHgzYw0IwzQROjyWPxSJuqEjZ9PrxgFHmj7oHf9SnPNDdtonXvRKKVwoRtZ9zHqheyDeGns=w600-h315-p-k" class="ui large bordered image">
              </div>
            <div class="eight wide column">
              <h2 class="ui header">ML Forecasting Models For Everyone</h2>
              <p style="font-size: 20px;">Easiest way to forecast stock prices without the need to write any code! </p>
            </div>
          </div>
          <div class="row">
            <div class="center aligned column">
              <a class="ui huge button">Try Now</a>
            </div>
          </div>
        </div>
      </div>
  
    <div class="ui vertical stripe segment" style="margin-top: 20px;">
      <div class="ui text container">
        <h2 class="ui header">Comprehensive Stock Dashboard</h2>
        <p style="font-size: 20px;">Equipped with interactive charting from tradingview as well as statistical information unique to our platform. Equipped with comprehensive 
        price action in addition to plenty of fundamental information to to ensure you are informed!</p>
        <a class="ui large button">Take Me There</a>
      </div>
    </div>
  </div>

{% endblock %}