{% extends "layout.html" %}

{% block content %}
<h1 style="margin-top: 90px;">Helpful Resources</h1>
<a style="font-size: 20px;" href="https://finviz.com/">Finviz</a>
<p></p>
<a style="font-size: 20px;" href="https://www.tradingview.com/">Tradingview</a>
<p></p>
<a style="font-size: 20px;" href="https://www.marketwatch.com/tools/screener/premarket">Pre Market Screener</a>
<p></p>
<a style="font-size: 20px;" href="https://edition.cnn.com/business/markets/premarkets">Futures</a>
<p></p>
<a style="font-size: 20px;" href="https://algowizard.io/">Backtester and Automated Trading</a>
<p></p>
<a style="font-size: 20px;" href="https://www.datacamp.com/community/tutorials/finance-python-trading">Python For Finance</a>
<p></p>
<a style="font-size: 20px;" href="https://github.com/robertmartin8/PyPortfolioOpt">Portfolio Optimization</a>
<p></p>
<a style="font-size: 20px;" href="https://alpaca.markets/docs/">Alpaca API</a>
<p></p>
<a style="font-size: 20px;" href="https://pypi.org/project/yfinance/">yFinance</a>


<h1>Articles</h1>
<a style="font-size: 20px;" href="https://otexts.com/fpp3/">Forecasting Book</a>
<p></p>
<a style="font-size: 20px;" href="https://levelup.gitconnected.com/build-an-arima-model-to-predict-a-stocks-price-c9e1e49367d3">ARIMA Model Article</a>
<p></p>
<a style="font-size: 20px;" href="https://towardsdatascience.com/trend-seasonality-moving-average-auto-regressive-model-my-journey-to-time-series-data-with-edc4c0c8284b">ARIMA Components Summary</a>
<p></p>
<a style="font-size: 20px;" href="https://medium.com/analytics-vidhya/deep-reinforcement-learning-in-algorithmic-trading-part-ii-b78db754961c">Reinforcement Learning for Algorithmic Trading</a>
<p></p>
<a style="font-size: 20px;" href="https://medium.com/@mudrakandrii/how-to-use-arma-models-to-trade-volatility-using-scipys-evolutionary-algorithm-to-find-the-best-15e34937c350">ARMA Volatility Models</a>
<p></p>
<a style="font-size: 20px;" href="https://medium.com/swlh/how-to-build-quant-algorithmic-trading-model-in-python-12abab49abe3">Quant Algorithm Training</a>
{% endblock %}